/* Esercizio 1 */

.ex-1-square:hover{
    background-color: red;
    transition: 4s;
}

/* Esercizio 2 */

.ex-2-square{
    transition: 4s;
}

.ex-2-square:active{
    width: 100%;
}

/* Esercizio 3 */

.ex-3-square{
    transition: 4s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

/* Esercizio 4 */

.ex-4-square{
    transition: 4s;
    opacity: 1;
}

.ex-4-square:hover{
    opacity: 0;
}

/* Esercizio 5 */

.ex-5-square{
    transition:4s;
}

.ex-5-square:hover{
    transform: scale(1.5);
}
.ex-5-square:active{
    transform: scale(0.5);
}

/* Esercizio 6 */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* Esercizio 7 */

.ex-7-img{
    transition: 4s;
}

.ex-7-img:hover{
    filter: sepia(0.8);
    filter: blur(0.8);
}

/* Esercizio 8 */

.ex-8-img{
    transition: 4s;
}

.ex-8-img:hover{
    filter: grayscale(0.8) contrast(1.7);
    border-radius: 15px;
}

/* Esercizio 9 */

.ex-9-img{
    transition: 4s;
}

.ex-9-img:hover{
    filter: grayscale(0.6) sepia(0.6);
    border-radius: 30px;
    transform: scale(1.5);
}

/* Esercizio 10 */
@keyframes rotation{
    100%{
        transform: rotate(1turn);
    }
}
.ex-10-icon{
    animation: rotation 1s linear infinite;
}

/* Esercizio 11 */
@keyframes rotate-and-back{
    0%{
        transform: rotate(0turn);
    }
    90%{
        transform: rotate(0.85turn);
    }
    100%{
        transform: rotate(0turn);
    }
}

.ex-11-icon:hover{
    animation: rotate-and-back 2s ease-in ;
}